<link rel="stylesheet" href="header.css">
<header>
    <h1>UManage</h1>
    {{#if true}}
    <a href="">
        <div class="user_logo_wrapper">
            <div class="user_logo">
                <span>BU</span>
            </div>
        </div>
    </a>
    {{else}}
    <div>none</div>
    {{/if}}
</header>