<div class="tasks_wrapper">
    <form action="">
        <input class="task_title" type="text" placeholder="Enter a new task">
        <button class="add_task">ADD TASK</button>
        <select name="" id="">
            <option selected disabled>Choose a project</option>
            <option><button>Create new project</button></option>
        </select>
    </form>
    <div class="tab_links">
        <button class="tab_links__link" data-id="problems">Problems</button>
        <button class="tab_links__link" data-id="inprogress">In progress</button>
        <button class="tab_links__link" data-id="done">Done</button>
    </div>
    <div class="tabs">
        <div class="problems">
            <div class="task">
                <h3>Problem</h3>
                <div class="task_right">
                    <span class="problem_stopwatch">00:00:00</span>
                    <button class="start_timer">Start timer</button>
                    <button class="stop_timer" style="display: none;">Stop timer</button>
                    <div class="task_options">
                        Options
                    </div>
                </div>
            </div>
        </div>
        <div class="inprogress">
            <div class="task">
                <h3>In progress</h3>
                <div class="task_right">
                    <span class="inprogress_stopwatch">00:00:00</span>
                    <button class="start_timer">Start timer</button>
                    <button class="stop_timer" style="display: none;">Stop timer</button>
                    <div class="task_options">
                        Options
                    </div>
                </div>
            </div>
        </div>
        <div class="done">
            <div class="task">
                <h3>Done</h3>
                <div class="task_right">
                    <span class="done_stopwatch">00:00:00</span>
                    <button class="start_timer">Start timer</button>
                    <button class="stop_timer" style="display: none;">Stop timer</button>
                    <div class="task_options">
                        Options
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="main.js"></script>