<div class="tasks_wrapper">
    <form action="">
        <input class="task_title" type="text" placeholder="Enter a new task">
        <button class="add_task">ADD TASK</button>
        <select name="" id="">
            <option selected disabled>Choose a project</option>
            <option><button>Create new project</button></option>
        </select>
    </form>
    <div class="tab_links">
        <div class="tab_links__link"><a href="">Tasks</a></div>
        <div class="tab_links__link"><a href="">In progress</a></div>
        <div class="tab_links__link"><a href="">Done</a></div>
    </div>
    <div class="tasks">
        <div class="task">
            <h3>Task name</h3>
            <div class="task_right">
                <span>00:00:00</span>
                <button>Start timer</button>
                <div class="task_options">
                    Options
                </div>
            </div>
        </div>
    </div>
</div>
<script src="main.js"></script>