<form class="signin" action="">
    <h1>Sign In</h1>
    <label for="">Enter your name</label>
    <input type="text" name="name" required>
    <label for="">Enter your email</label>
    <input type="text" name="email" required>
    <label for="">Enter your password</label>
    <input type="password" name="password" required>
    <button type="submit">Sign in</button>
    <a href="/signup">Don`t have an account?</a>
</form>