<form class="signup" action="">
    <h1>Sign Up</h1>
    <label for="">Enter your name</label>
    <input type="text" name="name" required>
    <label for="">Enter your email</label>
    <input type="text" name="email" required>
    <label for="">Enter your password</label>
    <input type="password" name="password" required>
    <label for="">Repeat your password</label>
    <input type="password" name="repeat_password" required>
    <button type="submit">Sign Up</button>
    <a href="/signin">Already have an account?</a>
</form>